.header-container {
  padding: 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-title {
  margin: 0 0 12px 0;
  font-size: 1.1rem;
  color: #202124;
}

.search-box {
  width: 100%;
  padding: 10px;
  border: 1px solid #949494;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 14px;
}

.search-group {
  display: flex;
  gap: 8px;
}

.search-box {
  flex: 1; /* Input takes available space */
}

.btn-semantic {
  background: #52C234;
  color: white;
  border: none;
  border-radius: 60px;
  padding: 0 12px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-semantic:hover {
  filter: brightness(80%);
}

.btn-semantic:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.ai-agent-btn {
  background: #264aff;
  background: linear-gradient(90deg,rgba(38, 74, 255, 1) 0%, rgba(255, 46, 88, 1) 100%);
  color: white;
  width: 100%;
  padding: 10px;
  border: 1px solid #dadce0;
  border-radius: 60px;
  box-sizing: border-box;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
}
.ai-agent-btn:hover {
  filter: brightness(80%);
}