.history-list-container {
  flex: 1;
  overflow-y: auto;
  padding: 12px;
  background: #d4dbff;
  background: linear-gradient(90deg,rgba(212, 219, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(212, 219, 255, 1) 100%);
}

.no-data {
  text-align: center;
  color: #5f6368;
  margin-top: 30px;
  font-size: 14px;
}