/* HistoryUI.css */
.history-ui {
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}

.history-ui h3 {
  margin-bottom: 10px;
  color: rgb(11, 207, 11);
}

.history-ui ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;       
  flex-direction: column; 
}

.history-ui li {
  margin-bottom: 8px;
  padding: 6px 10px;
  border-radius: 8px;
  max-width: 70%;
}

.history-ui li.user {
  background-color: rgb(11, 207, 11);
  color: white;
  align-self: flex-end;
  margin-left: auto;
  padding: 15px;
  border-radius: 10px;
}

.history-ui li.agent {
  background-color: #ddd;
  color: black;
  align-self: flex-start;
  margin-right: auto;
  padding: 15px;
}
