body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensures the app takes up the full side panel height */
  overflow: hidden; /* Prevent double scrollbars */
}